h2 {
	font-family: Arial;
	background-color: #333;
	color: #dedede;
}
div {
	background: #c0dec5;
  margin: 7em;
  border-style: solid;
  border-width: 15px;
  border-color: #889e8c;
  padding: 4em 10em 5em 10em;
}


#wrapper {
width: 900px;
background-color: #333;
border-style: solid;
border-width: 25px;
border-color: black;
}

p {
font-family: Verdana;
font-size: 14px;
line-height: 1.5em;
}