body {
	font-family: Arial sans-serif;
	text-align: left;
	background-color: #ffffff;
}
span {
  	background: rgba(150,150,150,.3);
}

#wrapper {
	background-color: #333;
	width: 1100px;
	margin: auto;
	}
#div1 {
	background-color: #cbcbcb;
	padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    margin: 1em;
	}
#div2 {
	background-color: #ffffff;
	padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    margin: 1em;
	}
	.subhead1 {
  	font-size: 18px;
  	color: #000000;
  	padding-left: 11px;
  	font-family: Verdana;
  	font-weight: bold;
  	line-height: 1.4em;

	}
	.body1 {
  	font-size: 14px;
  	padding: 11px;
  	padding-right: 5px;
  	font-family: Verdana;
  	line-height: 1.5em;
  	}
  	.body2 {
  	font-size: 14px;
  	padding: 11px;
  	font-family: Arial;
  	line-height: 1.8em;
  	}
  	a:hover {
	background-color: #aaaaaa;
	}
	.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	}
	.column {
	float: left;
	width: 320px;
  	height: 700px;
	padding: 1px;
	margin: 0;
	}

nav	{
	font-family: Arial;
	background-color: #dedede;
	}

a 	{
	background-color: #e91818;
	color: white;
	text-decoration: none;
	float: left;
	padding: 10px;
	width: 255px;
	}
h3 {
	font-family: Arial;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 11px;
	color: #000000;
	padding-top: 35px;
	}
p 	{
	font-family: "Arial", sans-serif;
	color: rgb(77,77,77);
	padding-left: 11px;
	font-size: 12px;
	line-height: 1.6em;
	}
footer {
	background-color: #e91818;
	padding-top: 20px;
	padding-bottom: 95px;
	}
