body {
	font-family: Arial sans-serif;
	text-align: center;
	background-color: #dedede;
}
#wrapper {
	background-color: #333;
	width: 1100px;
	margin: auto;
}
#div1 {
	font-family: Arial;
	font-size: 14px;
	background-color: #dedede;
	padding: 22px;
	margin: 22px;
}

#div2 {
	font-family: Arial;
	font-size: 14px;
	background-color: #ffffff;
	padding: 22px;
	margin: 22px;
}

	nav	{
	font-family: Arial;
	background-color: #dedede;
	}
	a {
	background-color: #e91818;
	color: white;
	text-decoration: none;
	float: left;
	padding: 10px;
	width: 255px;
	}
	a:hover {
	background-color: #aaaaaa;
	}
	.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	}

aside {
	background-color: #dedede;
}
h3 {
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	font-size: 24px;
	color: rgb(33,33,33);
	padding-top: 35px;
}
p {
	font-family: "Arial", sans-serif;
	color: rgb(77,77,77);
	font-size: 14px;
	padding-top: 5px;
}

footer {
	background-color: #FF957E;
