body {
	font-family: Arial;
	text-align: center;
}

h2 {
	font-size:22px;
	font-weight: normal;
}

/*p {
	background-color: #d1d3d4;
}*/

h3 {
	font-size:18px;
}
	#black {
	color: #ffffff;
	font-family: Arial;
	background-color: #333;
	font-size:18px;
	padding-top: 25px;
	padding-bottom: 25px;
	}

	#wrapper {
	width: 960px;
	/*background-color: #333;*/
  	margin: 0 auto;
}

span {
	color: red;
	font-size: 24px;
}
ul {
	list-style-type: none;
}
	strong {
	background-color: orange;
	}
	.smaller {
	font-size: 14px;
	}
	div {
  	background-color: white;
}