@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #4e5252;
	background-image: url(../images/background.image.jpg);
}

h1 {
	color: white;
	padding-left: 125px;
}

#menu {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	word-spacing: 20px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	color: rgb(70,70,70);
	padding-top: 35px;
	line-height: 130%;
}

p {
	font-family: "Arial", sans-serif;
	color: rgb(155,155,155);
	font-size: 14px;
	padding-top: 10px;
}