body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #4e5252;
	background-image: url(../images/background.image.jpg);
}

h1 {
	color: white;
	padding-left: 125px;
}

#tagline {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 21px;
}

h3 {
	color: rgb(155,155,155);
	padding-top: 35px;
}

p {
	font-family: "Arial", sans-serif;
	color: #828282;
	font-size: 14px;
}