body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #4e5252;
	background-image: url(../images/background.image.jpg);

}


h1 {
	color: white;
	padding-left: 125px;
}

#control {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 21px;
}

	

h3 { font-weight: 5
	00; color: rgb(55,55,55);
	background-color: #aeb0b0;
	padding-top: 25px;
}


p { font-weight: 200;
	color: #4e5252;
	font-size: 14px;
}

.test {
	font-size: 20px;
	padding-top: 10px;

}